 <!-- Navbar content -->
 <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand  " href="#"><b>EShoppingZone</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark">Home</button>
        <button type="button" class="btn btn-secondary">Wishlist</button>
        <button type="button" class="btn btn-secondary">My Orders</button>
        <button type="button" class="btn btn-secondary">Products</button>
        
      </div>





    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link  " href="#"><b>Products</b> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link   " href="#"><b>MyCart</b></a>
        </li>

        <li class="nav-item">
            <a class="nav-link btn-success  " href="#"><b>LogIn</b></a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Your Products">
        <button class="btn btn-outline-success btn-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>